<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.2.6-preview.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Math" version="1.0.6-preview.10" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Devices.Adc" version="1.2.1-preview.9" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Devices.I2c" version="1.1.6-preview.9" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Windows.Devices.Pwm" version="1.2.1-preview.9" targetFramework="netnanoframework10" />
</packages>